.prim{
    font-weight: normal;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.2em;
}
.secc{
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    line-height: 1.5em;
    text-align: justify;
    border: 0.1em solid black;
    padding: 0.5em;
    margin: 1.3em 0;
}