<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="song.js" defer></script>
  </head>
  <body>
    <div id="app">
      {{ question }}
      <br />
      The name of the artist:
      <input type="text" v-model="artist" />
      <br />
      The name of the song:
      <input type="text" v-model="song" />
    </div>
  </body>
</html>
