circle {
  stroke: lightcyan;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.pulse {
  fill: white;
  fill-opacity: 0;
  animation-name: pulse;
  transform-origin: 50% 50%;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.5);
    stroke-width: 2px;
    stroke-opacity: 1;
  }
  to {
    transform: scale(2);
    stroke-width: 0;
    stroke-opacity: 0;
  }
}
