* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
header {
  background-color: rgb(46, 46, 46);
  color: lightgray;
  text-align: center;
}
header a {
  text-decoration: none;
  color: white;
}
header ul li {
  display: inline-block;
  list-style: none;
  padding: 0.8em 1em;
  font-size: 0.8em;
}
article {
  background-color: rgb(211, 211, 211);
  padding: 1.5em;
  text-align: center;
}
article h1 {
  font-family: monospace;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.5em;
}
article div {
  display: inline-block;
  vertical-align: top;
}
article div p {
  padding: 2em;
}
footer {
  background-color: black;
  color: white;
}
img {
  width: 15em;
  display: inline-block;
}
input[type="button"] {
  background-color: orange;
  height: 2.5em;
  text-transform: uppercase;
  border-radius: 0.8em;
  color: white;
  padding: 0.3em 2em;
  font-size: 0.8em;
  margin-top: 4em;
}
