h1{
  color: #296F39;
  font-size: 25px;
}
h3{
  color: saddlebrown;
}
h1, h3{
  font-family: cursive;
}
body{
  background-color: tan;
  text-align: center;
  font-family: sans-serif;
}
.pret{
  color: green;
}
.fraza{
  color: orangered;
  font-family: sans-serif;
}
br{
  border-color: brown;
}
.abc{
  width: 500px;
  margin-left: 35%;
}
a{
  text-decoration: none;
}
