* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: monospace;
  font-size: 1.2em;
}
#drawing {
  position: relative;
  background-color: whitesmoke;
  height: 20em;
  width: 20em;
}
#drawing div {
  background-color: black;
  position: absolute;
}
#base {
  width: 16em;
  height: 0.5em;
  bottom: 0;
  left: 2em;
}
#pillar {
  width: 0.5em;
  height: 20em;
  top: 0;
  left: 8em;
}
#support {
  width: 6em;
  height: 0.5em;
  top: 0;
  left: 8em;
}
#rope {
  width: 0.2em;
  height: 4em;
  top: 0;
  left: 14em;
}
#head {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  top: 4em;
  left: 12.5em;
}
#body {
  width: 1em;
  height: 3em;
  border-radius: 20%;
  top: 6.9em;
  left: 13.5em;
}
#leftArm {
  transform: rotate(30deg);
  width: 0.5em;
  height: 2em;
  border-radius: 20%;
  top: 6.9em;
  left: 13em;
}
#rightArm {
  transform: rotate(-30deg);
  width: 0.5em;
  height: 2em;
  border-radius: 20%;
  top: 6.9em;
  left: 14.5em;
}
#leftLeg {
  transform: rotate(30deg);
  width: 0.5em;
  height: 3em;
  border-radius: 20%;
  top: 8.9em;
  left: 13em;
}
#rightLeg {
  transform: rotate(-30deg);
  width: 0.5em;
  height: 3em;
  border-radius: 20%;
  top: 8.9em;
  left: 14.5em;
}
.human {
  visibility: hidden;
}
