.circle {
  background-color: orange;
  transition-duration: 2000ms;
  transition-property: width, heigh, margin-left, margin-top;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

.message {
  font-size: 1.4em;
  line-height: 10em;
  text-align: center;
}